*:not(html, script, style, head) {
    background: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: system-ui;
    /* font-weight: 100; */
    border: none;
    /* border: 1px solid grey; *//* color: white; */
    font-family: "Lato", serif;
    /* font-weight: 100; */
    font-style: normal;
    font-family: "Lato", serif;
    border: none;
}



